<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>serverResponse</display-name>
  <servlet>
	<display-name>sign_up</display-name>
	<servlet-name>sign_up</servlet-name>
	<servlet-class>serverResponse.sign_up</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sign_up</servlet-name>
    <url-pattern>/serverResponse/sign_up</url-pattern>
  </servlet-mapping>
  <servlet>
	<display-name>Sign_in</display-name>
	<servlet-name>Sign_in</servlet-name>
	<servlet-class>serverResponse.Sign_in</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sign_in</servlet-name>
    <url-pattern>/serverResponse/Sign_in</url-pattern>
  </servlet-mapping>
    <servlet>
	<display-name>dup_query_email_and_username</display-name>
	<servlet-name>dup_query_email_and_username</servlet-name>
	<servlet-class>serverResponse.dup_query_email_and_username</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dup_query_email_and_username</servlet-name>
    <url-pattern>/serverResponse/dup_query_email_and_username</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>